body
{
    margin: 0;
    padding: 0;
    background-color:black;
    color:white;
    text-align:justify;
}

#wrapper
{
    margin-left:auto;
    margin-right:auto;
    min-width:600px;
    max-width:90%;
    min-height:100%;
}

h1
{
    text-align:center;
}

#nav ul
{
    list-style-type:none;
    margin-left:auto;
    margin-right:auto;
    padding:0;
    width:600px;
    height:50px;
}

#nav li
{
    float:left;
    width:150px;
    height:50px;
    letter-spacing:3px;
    text-align:center;
    vertical-align:middle;
}